body {
  font-family: "Times", "Times New Roman", serif;
  line-height: 1.5;
  max-width: 960px;
  min-width: 600px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 20px;
}
