body {
  max-width: 960px;
  margin: 0 auto;
}

header {

}

a:link {
  color: rgb(14,31,65);
}

a:visited {
  color: rgb(147,112,219);
}

a:hover {
  color: rgba(201,53,68);
}

a:active {
  color: rgb(245,188,78)
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas:
  font-family: "Open-Sans", "Helvetica". sans-serif;
  line-height: 1.25;
}

h1,
h2,
h3,
h4 {
  font-family: "Poppins", "Verdana", serif;
}

section {
  box-sizing: border-box;
  width: 350px;
  margin: 0;
  padding: 10px;
}

caption {
  font-weight: bold;
}

nav {
  background-color: rgb(173,205,215);
}

#header {
  background-color: rgb(137,207,200);
}

#introduction {
  background-color: rgb(173,216,230);
}

#joey-curreri-quintet {
  background-color: rgb(255,255,159);
}

#live-performances {
  background-color: rgb(255,213,128);
}

#work {
  background-color: rgb(200,120,160);
}

#achievements-and-awards {
  background-color: rgb(160,120,255);
}

#images {
  background-color: #FFFFFF;
}

#info {
  background-color: rgb(140,180,200);
}
